@import "tailwindcss";

/* General */

:root {
  --background: #080c11;
  --primary: #83cee5;
  --secondary: #1e2e39;
  --glass: #0b151daa;
  --primary-txt: #ebf3f4;
  --secondary-txt: #d9ecf6;
  --error: #f44336;

  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-txt: var(--primary-txt);
  --color-secondary-txt: var(--secondary-txt);
  --color-error: var(--error);
  --color-glass: var(--glass);
}

body {
  background: linear-gradient(
    180deg,
    var(--background) 25%,
    #04121d 50%,
    var(--background) 75%
  );
  /* height: ; */
}

h1,
h2,
h3,
button {
  color: var(--primary-txt);
}

p {
  color: var(--secondary-txt);
}

footer {
  background: #0002;
  backdrop-filter: blur(10px);
  border-top: 1px solid #83cee599;
}

/* Header animation */

header {
  animation-name: header-blur-animation;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 300px;
}

@keyframes header-blur-animation {
  0% {
    background: transparent;
    backdrop-filter: blur(0);
    border-bottom: 1px solid transparent;
  }
  100% {
    background: #0002;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #83cee599;
  }
}

nav {
  animation-name: nav-move-animation;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 300px;
}

@keyframes nav-move-animation {
  0% {
    max-width: 100%;
  }

  100% {
    max-width: 896px;
  }
}

/* Arrow animation */

.arrow-container {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: visible;
}

.arrow {
  position: absolute;
  color: #67e8f9;
  animation: trail 1.2s infinite ease-in-out;
  font-size: 20px;
  opacity: 0;
}

.arrow::before,
.arrow::after {
  content: "›";
  position: absolute;
  color: #67e8f9;
  opacity: 0;
  animation: trail 1.2s infinite ease-in-out;
}

.arrow::before {
  left: -8px;
  animation-delay: 0.2s;
}

@keyframes trail {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(8px);
    opacity: 0;
  }
}
