@import "tailwindcss";

/* General */

:root {
  --background: #080c11;
  --primary: #83cee5;
  --secondary: #1e2e39;
  --glass: #0b151daa;
  --primary-txt: #ebf3f4;
  --secondary-txt: #bec8cd;
  --error: #f44336;

  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-txt: var(--primary-txt);
  --color-secondary-txt: var(--secondary-txt);
  --color-error: var(--error);
  --color-glass: var(--glass);
}

body {
  background: linear-gradient(
    180deg,
    var(--background) 25%,
    #04121d 50%,
    var(--background) 75%
  );
}

h1,
h2,
h3,
button {
  color: var(--primary-txt);
}

p {
  color: var(--secondary-txt);
}

footer {
  background: #0002;
  backdrop-filter: blur(10px);
  border-top: 1px solid #83cee599;
}

/* Header animation */

header {
  animation-name: header-blur-animation;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 300px;
}

@keyframes header-blur-animation {
  0% {
    background: transparent;
    backdrop-filter: blur(0);
    border-bottom: 1px solid transparent;
  }
  100% {
    background: #0002;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #83cee599;
  }
}

nav {
  animation-name: nav-move-animation;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 300px;
}

@keyframes nav-move-animation {
  0% {
    max-width: 100%;
    padding-inline: 16px;
  }

  100% {
    max-width: 896px;
  }
}

/* Arrow animation */

.arrow-trail {
  position: relative;
  display: inline-block;
  width: 3ch; /* espacio para 3 flechas */
  height: 1em;
}

.arrow-trail span {
  position: absolute;
  top: 0;
  left: 0;
  color: inherit;
  opacity: 0;
  transform: translateX(0);
  animation: arrowTrailAnim 1s infinite;
}

.arrow-trail span:nth-child(1) {
  animation-delay: 0s;
}
.arrow-trail span:nth-child(2) {
  animation-delay: 0.15s;
}
.arrow-trail span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes arrowTrailAnim {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  20% {
    opacity: 1;
    transform: translateX(8px);
  }
  40% {
    opacity: 0.5;
    transform: translateX(12px);
  }
  60% {
    opacity: 0.2;
    transform: translateX(14px);
  }
  100% {
    opacity: 0;
    transform: translateX(16px);
  }
}

/* Form styles */

.coolinput {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.coolinput label.text {
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
}

.coolinput textarea.input {
  resize: none;
  field-sizing: content;
  min-height: 9lh !important;
}

.form-propuesta input,
.form-propuesta textarea {
  @apply bg-secondary px-4 py-2 rounded-xl;
}
