@import "tailwindcss";

/* General */

:root {
  --background: #080c11;
  --primary: #83cee5;
  --secondary: #1e2e39;
  --glass: #0b151daa;
  --glass-warning: #1d1d0b;
  --warning: #f7f74b22;
  --primary-txt: #ebf3f4;
  --secondary-txt: #bec8cd;
  --error: #f44336;

  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-txt: var(--primary-txt);
  --color-secondary-txt: var(--secondary-txt);
  --color-error: var(--error);
  --color-glass: var(--glass);
  --color-glass-warning: var(--glass-warning);
  --color-warning: var(--warning);
}

body {
  background: linear-gradient(
    180deg,
    var(--background) 25%,
    #04121d 50%,
    var(--background) 75%
  );
}

h1,
h2,
h3,
button {
  color: var(--primary-txt);
}

p {
  color: var(--secondary-txt);
}

footer {
  background: #0002;
  backdrop-filter: blur(10px);
  border-top: 1px solid #83cee599;
}

/* Header animation */

header {
  animation-name: header-blur-animation;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 300px;
}

@keyframes header-blur-animation {
  0% {
    background: transparent;
    backdrop-filter: blur(0);
    border-bottom: 1px solid transparent;
  }
  100% {
    background: #0002;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #83cee599;
  }
}

nav {
  animation-name: nav-move-animation;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 300px;
}

@keyframes nav-move-animation {
  0% {
    max-width: 100%;
    padding-inline: 16px;
  }

  100% {
    max-width: 1024px;
  }
}

/* Hero animation height */

.animate-min-height {
  animation-name: hero-height-animation;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 300px;
}

@keyframes hero-height-animation {
  0% {
    min-height: 65vh;
  }
  100% {
    min-height: 20vh;
  }
}

@media (max-width: 768px) {
  /* Desactivar animaciones */
  header,
  nav,
  .animate-min-height {
    animation: none !important;
    animation-timeline: none !important;
  }

  /* Estado final del header */
  header {
    background: #0002;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #83cee599;
  }

  /* Estado final del nav */
  nav {
    max-width: 1024px;
    padding-inline: 16px;
  }

  /* Estado final del hero */
  .animate-min-height {
    min-height: 20vh;
  }
}

/* Logo Hero Filter */

.logo-hero-filter {
  filter: drop-shadow(0 0 100px #1e2e39);

  will-change: filter;
  transform: translateZ(0);
}

/* Arrow animation */

.arrow-trail {
  position: relative;
  width: 100px;
  height: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  left: 2px;
}

.arrow-trail span {
  position: absolute;
  width: 100%;
  font-size: 1.25rem;
  color: inherit;
  opacity: 0;
  animation: arrowTrail 1s linear infinite;
}

.arrow-trail span:nth-child(1) {
  left: -7px;
  animation-delay: 0s;
}
.arrow-trail span:nth-child(2) {
  left: 0;
  animation-delay: 0.2s;
}
.arrow-trail span:nth-child(3) {
  left: 7px;
  animation-delay: 0.4s;
}

@keyframes arrowTrail {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}

/* Form styles */

.coolinput {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.coolinput label.text {
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
}

.coolinput textarea.input {
  resize: none;
  field-sizing: content;
  min-height: 9lh !important;
}

.form-propuesta input,
.form-propuesta textarea {
  @apply bg-secondary px-4 py-2 rounded-xl;
}
